# 개발 환경 파일
*.pyc
instance/
.vscode
.sessions

# 민감 정보
.env

# 업로드 파일
uploads/
file/

# 세션 임시 정보
.sessions/

# File
*.json
*.csv
*.pdf
*.txt

# Database
*.db
*.sqlite
*.sqlite3
databases

8. MINIAPPS/3. board_vibe/
8. MINIAPPS/4. music_vibe/