<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
        <li><a href="/product?pname=&pid={{ product['id'] }}">{{ product['id'] }}번 상품</a></li>
        <ul>
            <li>Name: {{ product['name'] }} / Price: {{ product['price'] }}</li>
        </ul>
        {% endfor %}
    </ul>
</body>
</html>