<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart List</h1>

    <table border="1">
        <tr>
            <th>상품 이름</th>
            <th>수량</th>
            <th>가격</th>
            <th>소계</th>
        </tr>

        {% for item_id, item_info in cart_list.items() %}
        <tr>
            <td>{{ item_info.name }}</td>
            <td>{{ item_info.count }}</td>
            <td>{{ item_info.price }}</td>
            <td>{{ item_info.price * item_info.count }}</td>
        </tr>
        {% endfor %}

    </table>

    <h3>Total Price: {{ total_price }}</h3>

    <a href="{{ url_for('home') }}">Back to products</a>
</body>
</html>